.Projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.project-card {
  max-width: 55rem;
  color: rgb(29, 29, 29);
  /* background-color: rgb(221, 221, 221); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 2rem 2rem 2rem;
  border-radius: 2rem;
}
h4 {
  font-size: 3rem;
  width: 100%;
  height: 3rem;
  margin: 0rem 0rem 2rem 6rem;
}
.project-card h3,
p {
  margin: 1rem 2rem 0 1rem;
}
.project-card a {
  margin: 2rem;
  align-self: center;
}
.project-card h3 {
  font-size: 2rem;
}

.project-image {
  object-fit: cover;
  height: 50vmin;
  /* border-top-left-radius: 2rem;
  border-top-right-radius: 2rem; */
  border-radius: 1rem;
}
