nav {
  align-items: center;
}
ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

li {
  font-size: 1.7rem;
  display: flex;
  align-content: center;
  margin: 1rem;
  margin-top: 0;
}
a {
  color: black;
}

li:hover {
  text-decoration: underline solid black;
  text-underline-offset: 0.4rem;
  cursor: pointer;
}

.Link {
  font-size: 1.7rem;
  text-decoration: none;
  display: flex;
  align-content: center;
  margin: 1rem;
  margin-top: 0;
}
.Link:hover {
  text-decoration: underline solid black;
  text-underline-offset: 0.4rem;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  li {
    margin: 0;
  }
}
