footer {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer .Container {
  width: 50%;
  flex-direction: row;
  margin-top: 3rem;
}

span {
  background: black;
  height: 2.5rem;
  align-self: center;
  padding: 1px 0.8px;
  margin: 0 1.5rem 0 1.5rem;
}
.border {
  background: grey;
  height: 1px;
  margin-bottom: 6rem;
  padding: 0.5px 40vmin;
}
footer h2 {
  font-size: 3rem;
}

footer a {
  font-size: 1.7rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline solid black;
  text-underline-offset: 0.4rem;
}

footer li {
  align-items: flex-end;
}

footer p {
  margin-bottom: 1rem;
}
