.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.Container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.image {
  height: 30vmin;
  object-fit: contain;
  border-radius: 50%;
  margin: 2rem;
}

@media screen and (max-width: 700px) {
  .Container {
    flex-direction: column;
    align-items: center;
  }
  .image {
    height: 30vmin;
    width: 30vmin;
    opacity: 0;
  }
}
